
body
{
	margin:2px;
}
* 
{
  box-sizing: border-box;
}

.header {
  background-color: #f1f1f1;
  padding: 60px;
  text-align: center;
  color:#fff;
  font-family:Georgia;
  font-style:italic;
  background-image: url('../m.jpg');
  height: 45vh;
  background-size:cover;
  background-position:center;
}

.topnav {
  overflow: hidden;
  background-color: #221F1F;
}

.topnav a {
  float: left;
  display: block;
  color:#F8F8FF;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  border-right:1px solid #bbb;
  font-size:18px;
}

.topnav a:hover:not(.active) 
{
  background-color:#808080;
  color: black;
}

.active {
  background-color:	#228B22;
  color:black;
}
.column {
  float: left;
  width: 100%;
  padding: 50px;
  background-color:linen;
  background-size:cover;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 4px
}

th, td {
  text-align: center;
  padding: 25px;
  border: 2px solid black;
  
}

tr:nth-child(odd)
{
  background-color:#A9A9A9;
  font-size:18px;
  
}
tr:nth-child(even)
{
  font-size:18px;
}

th {
  background-color:	#A9A9A9;
  color: black;
  font-size:20px;
  font-weight: bold;
}
.footer {
  background-color:#221F1F;
  padding: 8px;
  text-align: center;
  color:#F8F8FF;
}
 